.titulo h1{
    margin-bottom: 2%;
}.footer-container{
    background-color: var(--negro);
    color: white;
    padding: 2%;
}
.footer-container .text-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
    height: 100%;
    width: 100%;
}
.text.t{
    width: 25%;

    
}.icons{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    
    
}.icons div{
    display:flex;
    padding: 2%;
    
}.text t3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2%;
    
    
}#separador{
    margin-top: 21%;
}.carrusel{
    display: flex;
    justify-content: space-around;
    width: 100%;

   color: white;
}.carrusel img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}.ip{
    height: 100%;
}.icons p{
    margin-left: 2%;
}#op img{
    width: 16%;
    height: 3.5em;
}